@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

:root{
    --cor-fundo: #00172c ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #9ba9ee;
    --cor-texto: #00d7fd;
    --cor-texto2: white;
}

body {
    background-color: var(--cor-fundo);
    font-family: "Margarine", sans-serif;
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 40px;
    font-size: 25px;
    border-radius: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    font-size: 30px;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto2);
    border: none;
    margin-top: 35px;
    border-radius: 15px;
    justify-content: space-between; 
    margin-right: 30px;
    padding: 45px;
    border: 5px solid var(--cor-texto);
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    cursor: pointer;
}